@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

:root {
  font-size: 16.8px;
  font-family: sans;
}

@media only screen and (max-width: 640px) {
  /* For mobile phones: */
  :root {
    font-size: 12px;
  }
}
